<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CRUD User Interface for NodeJS, ExpressJS and MongoDB REST API</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/all.css" rel="stylesheet" type="text/css"/>  
</head>
<body>
  <div class="container"> <!-- class="table-responsive text-nowrap (play with Bootstrap attributes for look you want) -->
    <h2><a class="breadcrumb-item text-dark" href="/">Phone Orders Database</a> <span class="badge badge-secondary" id="databaseFilterNotice"></span></h2>

    <!-- Customers Table -->
    <table class="table table-hover table-striped" id="quotationsList">
      <thead>
        <tr>  <!-- <tr class="d-flex"> -->
          <th style="width: 25%">CustomerID</th>
          <th style="width: 25%">Model</th>
		  <th style="width: 20%">Price</th>
		  <th style="width: 20%">Manufacturer</th>
          <th class="text-center" style="width: 10%">Options</th>
        </tr>
      </thead>
      <tbody>
        {{#each
          <td style="width: 25%">"{{customer}}"</td>
          <td style="width: 25%">{{model}}</td>
		  <td style="width: 20%">{{price}}</td>
		  <td style="width: 20%">{{manufacturer}}</td> results}}
        <tr >
          <td class="text-right" style="width: 15%">
            <a href="javascript:void(0);" class="btn btn-sm btn-info update" data-id="{{ id }}"  data-customer="{{ customer }}" data-model="{{ model }}" data-price="{{ price }}" data-manufacturer="{{ manufacturer }}">Update</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ id }}" data-customer="{{ customer }}"  data-model="{{ model }}" data-price="{{ price }}" data-manufacturer="{{ manufacturer }}">Delete</a>
		  </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

   </div>
</body>
</html>